$headerColor: #F1EEDC;
$menuColor: #dae1be;
$backColor: #e6d9d1;
$nameColor: #5e565a;
$menu1Color: #F6995C;
$h1Color: #0d1b2a;
$h2Color: #0d1b2a;
$decoColor: #51829B;

$defaultFont: 'Orbitron', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$gutter:16px;